openapi: 3.0.0
info:
  description: This is the KYT API Server
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: KYT API Server
  version: 0.0.1
servers:
- description: Production Server
  url: https://kyt.ci4rail.com/v1
- description: Local Environment
  url: http://localhost:9091/v1
tags:
- description: A connected device
  name: device
- description: Operations about user
  name: user
paths:
  /devices:
    get:
      description: Returns a list of devices
      operationId: getDevices
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Device'
                type: array
          description: successful operation
        "400":
          description: Invalid ID supplied
      security:
      - api_key: []
      summary: List devices for a tenant
      tags:
      - device
  /user/login:
    get:
      operationId: loginUser
      parameters:
      - description: The user name for login
        explode: true
        in: query
        name: username
        required: true
        schema:
          pattern: ^[a-zA-Z0-9]+[a-zA-Z0-9\.\-_]*[a-zA-Z0-9]+$
          type: string
        style: form
      responses:
        "200":
          content:
            application/xml:
              schema:
                type: string
            application/json:
              schema:
                type: string
          description: successful operation
          headers:
            Set-Cookie:
              description: Cookie authentication key for use with the `api_key` apiKey
                authentication.
              explode: false
              schema:
                example: AUTH_KEY=abcde12345; Path=/; HttpOnly
                type: string
              style: simple
            X-Rate-Limit:
              description: calls per hour allowed by the user
              explode: false
              schema:
                format: int32
                type: integer
              style: simple
            X-Expires-After:
              description: date in UTC when token expires
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "400":
          description: Invalid username supplied
      summary: Logs user into the system
      tags:
      - user
  /user/logout:
    get:
      operationId: logoutUser
      responses:
        default:
          description: successful operation
      security:
      - api_key: []
      summary: Logs out current logged in user session
      tags:
      - user
components:
  requestBodies:
    UserArray:
      content:
        application/json:
          schema:
            items:
              $ref: '#/components/schemas/User'
            type: array
      description: List of user object
      required: true
    Device:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Device'
        application/xml:
          schema:
            $ref: '#/components/schemas/Device'
      description: Device object
      required: true
  schemas:
    User:
      description: A KYT User
      properties:
        id:
          format: int64
          type: integer
        username:
          type: string
      title: a User
      type: object
      xml:
        name: User
    Device:
      description: A Device
      example:
        id: 0
      properties:
        id:
          format: int64
          type: integer
      required:
      - id
      title: a Device
      type: object
      xml:
        name: Device
  securitySchemes:
    api_key:
      in: header
      name: api_key
      type: apiKey
