openapi: 3.0.0
info:
  description: This is the KYT API Server
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: KYT API Server
  version: 0.0.1
servers:
- description: Production Server
  url: https://kyt.ci4rail.com/v1
- description: Local Environment
  url: http://localhost:9091/v1
tags:
- description: A connected device
  name: device
paths:
  /devices:
    get:
      description: Returns a list of devices
      operationId: getDevices
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Device'
                type: array
          description: successful operation
        "400":
          description: Invalid ID supplied
      security:
      - api_key: []
      summary: List devices for a tenant
      tags:
      - device
components:
  requestBodies:
    Device:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Device'
        application/xml:
          schema:
            $ref: '#/components/schemas/Device'
      description: Device object
      required: true
  schemas:
    Device:
      description: A Device
      example:
        id: 0
      properties:
        id:
          format: string
          type: integer
      required:
      - id
      title: a Device
      type: object
      xml:
        name: Device
  securitySchemes:
    api_key:
      in: header
      name: api_key
      type: apiKey
